.custom-widget.div-a{:onclick =>"window.location='#{calendar_path(calendar.id)}'"}
  .widget-content
    .widget-image
      %img{:src=>"#{render_first_photo(calendar.photos)}"}
    .widget-text
      .elip-text{:style =>"font-weight:bold"}
        = calendar.name.truncate(40)
      .elip-text.sm-text
        = calendar.description.truncate(40)
      .elip-text.sm-text
        Kích thước:
        = calendar.size
      .elip-text.sm-text
        Loại Giấy: 
        = calendar.paper_type
      .more_info
        %a{:href => "#{calendar_path(calendar.id)}"} Chi tiết >>