%article.art-post.art-article
  .art-postcontent.art-postcontent-0.clearfix
    .art-content-layout-wrapper.layout-item-0
      .art-content-layout.layout-item-1
        .art-content-layout-row
          .art-layout-cell.layout-item-2.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path}'"}
            %div.center_image
              =image_tag "img_lich/lich_bloc.jpg"
            %h1 Lịch tết 2015
            %h6
              Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
              %span{:style => "color: rgb(21, 28, 35); -webkit-border-horizontal-spacing: 10px;"}
            .more_nav
              %a{:href =>"#{calendars_path}"}  chi tiết >>  
            %br/
          .art-layout-cell.layout-item-3.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path}'"}
            %div.center_image
              =image_tag "img_lich/lich_bloc.jpg"
            %h1 Lịch Bloc
            %h6
              Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
            .more_nav
              %a{:href =>"#{calendars_path}"}  chi tiết >>  
            %br/
          .art-layout-cell.layout-item-4.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path}'"}
            %div.center_image
              =image_tag "img_lich/lich_bloc.jpg"
            %h1 Lịch để bàn
            %h6
              Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
            .more_nav
              %a{:href =>"#{calendars_path}"}  chi tiết >>  
            %br/
          .art-layout-cell.layout-item-5.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path}'"}
            %div.center_image
              =image_tag "img_lich/lich_bloc.jpg"
            %h1 Lịch lò xo
            %h6
              Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
            .more_nav
              %a{:href =>"#{calendars_path}"}  chi tiết >>  
            %br/
    .art-content-layout-wrapper.layout-item-6
      .art-content-layout.layout-item-7
        .art-content-layout-row
          
          / .art-layout-cell.layout-item-8{:style => "width: 25%"}
          /   %h2
          /     Turkey
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %br/
          /   %p{:style => "margin-top: 0px;"}
          /     %span{:style => "color: rgb(125, 125, 125);"} Flickr/©haddock
          /     %br/
          /   %p
          /     %img{:alt => "", :height => "132", :src => "images/8.png", :style => "margin-top: 0px; margin-bottom: 7px; margin-left: 0px;", :width => "189"}
          /       %br
          /         %span{:style => "color: rgb(21, 28, 35); font-weight: bold; line-height: 15px;"} Lorem ipsum dolor amet.&nbsp;
          /         %br/
          /   %h5
          /     Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Aenean sollicitudin arcu, vitae posuere.
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /   %p{:style => "text-align: left;"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %a.art-button{:href => "#"} Read more
          / .art-layout-cell.layout-item-8{:style => "width: 25%"}
          /   %h2 Hawaii
          /   %h5{:style => "margin-top: 0px;"} Flickr/ryankozie
          /   %p
          /     %span{:style => "color: rgb(125, 125, 125);"}
          /       %img{:alt => "", :height => "132", :src => "images/9.png", :style => "margin-top: 0px; margin-left: 0px;", :width => "189"}
          /         %span{:style => "color: rgb(21, 28, 35); font-weight: bold; line-height: 15px;"} Etiam pharetra, tellus iaculis.&nbsp;
          /   %h5
          /     Vitae feugiat sapien ante eget mauris. Aenean sollicitudin imper arcu, vitae dignissim est posuere id. Nunc a sollicitudin est. Curabitur ullamcorper gravida.
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /   %p{:style => "text-align: left;"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %a.art-button{:href => "#"} Read more
          / .art-layout-cell.layout-item-8{:style => "width: 25%"}
          /   %h2
          /     Barcelona
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %br/
          /   %h5{:style => "margin-top: 0px;"} Flickr/Sids1
          /   %p
          /     %span{:style => "color: rgb(125, 125, 125);"}
          /       %img{:alt => "", :height => "132", :src => "images/10.png", :style => "margin-top: 0px; margin-left: 0px;", :width => "189"}
          /         %span{:style => "color: rgb(21, 28, 35); font-weight: bold; line-height: 15px;"} Nisi erat iaculis nibh mauris.&nbsp;
          /   %h5
          /     Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id. Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /   %p{:style => "text-align: left;"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %a.art-button{:href => "#"} Read more
          .art-layout-cell.layout-item-8.slide_thuy.border-lightgray{:style => "width: 75%"}
            = render :partial =>"shared/intro"
          .art-layout-cell.layout-item-9{:style => "width: 25%"}
            %h2
              %span{:style => "color: rgb(21, 28, 35); font-weight: bold;font-size:20px;"} LỊCH THEO CHỦ ĐỀ
            %ul
              %li Thiên nhiên tươi đẹp
              %li
                Sắc xuân
                %span{:style => "color: rgb(31, 40, 51); font-size: 13px; line-height: 19px; -webkit-text-decorations-in-effect: none;"}
              %li Quê hương thanh bình
              %li Một thoáng Việt Nam
              %li Phong cảnh thế giới
              %li
                Biệt thự & xe hơi
                %span{:style => "font-size: 13px; line-height: 19px;"}
                  %br/
              %li Phúc Lộc Thọ
              %li Mã đáo thành công
              
            %p
    / .art-content-layout-wrapper.layout-item-10
    /   .art-content-layout.layout-item-7
    /     .art-content-layout-row
    /       .art-layout-cell.layout-item-8{:style => "width: 76%"}
    /         %span{:style => "color: rgb(21, 28, 35); "}
    /           %h2
    /         %table.art-article{:style => "width: 100%; "}
    /           %tbody
    /             %tr
    /               %td{:style => "width: 34%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; "}
    /                 %span{:style => "-webkit-border-horizontal-spacing: 10px; -webkit-border-vertical-spacing: 10px; "}
    /                   %span{:style => "color: rgb(21, 28, 35); "}
    /                     %h2 Our Special Offers
    /                   %h5
    /                     %img{:alt => "", :height => "60", :src => "images/16.png", :style => " float: left; margin-top: 0px; margin-right: 10px; margin-left: 0px; ", :width => "60"}
    /                       %span{:style => "font-weight: bold;"}> Lorem ipsum dolor sit amet
    /                       ,
    /                       %br Сonsectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat.
    /                   %h5
    /                     %img{:alt => "", :height => "60", :src => "images/17.png", :style => " float: left; margin-top: 0px; margin-right: 10px; margin-left: 0px; ", :width => "60"}
    /                       %span{:style => "font-weight: bold;"} Nunc a sollicitudin est.
    /                       %br Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.
    /               %td{:style => "width: 3%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; "}
    /                 %br/
    /               %td{:style => "width: 33%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; "}
    /                 %span{:style => "-webkit-border-horizontal-spacing: 10px; -webkit-border-vertical-spacing: 10px; "}
    /                   %span{:style => "color: rgb(21, 28, 35); "}
    /                     %h2 Trip Idea Topics
    /                   %h5
    /                     %a{:href => "#"}> Lorem ipsum dolor sit amet
    /                     , consectetur adipiscing elit.&nbsp;
    /                   %h4 ---------------------------------------------
    /                   %h5
    /                     %a{:href => "#"}> Etiam pharetra
    /                     , tellus sit amet congue vulputate,&nbsp;
    /                   %h4 ---------------------------------------------
    /                   %h5
    /                     %a{:href => "#"}> Nisi erat iaculis nibh
    /                     , vitae feugiat sapien ante eget mauris
    /                   %h4 ---------------------------------------------
    /                   %h5
    /                     %a{:href => "#"} Aenean sollicitudin
    /                     imperdiet arcu, vitae dignissim id.
    /                 %span{:style => "-webkit-border-horizontal-spacing: 10px; -webkit-border-vertical-spacing: 10px; "}
    /                   %h5
    /                 %span{:style => "color: rgb(21, 28, 35); -webkit-border-horizontal-spacing: 10px; -webkit-border-vertical-spacing: 10px; "}
    /                 %span{:style => "-webkit-border-horizontal-spacing: 10px; -webkit-border-vertical-spacing: 10px; "}
    /                   %span{:style => "color: rgb(21, 28, 35); "}
    /                 %span{:style => "color: rgb(21, 28, 35); -webkit-border-horizontal-spacing: 10px; -webkit-border-vertical-spacing: 10px; "}
    /                   %h5
    /       .art-layout-cell.layout-item-11{:style => "width: 24%"}
    /         %h2
    /           %span{:style => "font-weight: bold;"} Subscribe
    /           %span{:style => "color: rgb(33, 43, 54);"}
    /             %span{:style => "color: rgb(21, 28, 35);"}
    /               %br/
    /         %p
    /           Your email address:
    /           %span{:style => "color: rgb(33, 43, 54);"}
    /             %span{:style => "color: rgb(21, 28, 35);"}
    /               \&nbsp;
    /               %input{:type => "text"}/
    /         %p
    /           %span{:style => "color: rgb(33, 43, 54);"}
    /             %span{:style => "color: rgb(21, 28, 35); font-weight: bold; text-decoration: underline;"} Send &gt;&gt;&gt;
    /             %span{:style => "color: rgb(21, 28, 35); font-weight: bold;"} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
    /           %span{:style => "color: rgb(33, 43, 54);"}
    /             %span{:style => "color: rgb(21, 28, 35); text-decoration: underline;"} Unsubscribe
