%article.art-post.art-article
  .art-postcontent.art-postcontent-0.clearfix
    .art-content-layout-wrapper.layout-item-0
      .art-content-layout.layout-item-1
        .art-content-layout-row
          - @categories.each_with_index do |i,index|
            %div{:class =>"art-layout-cell layout-item-#{index + 2} div-a",:style => "width: 25%",:onclick =>"window.location='#{calendars_path(:category_id =>i.id)}'"}
              %div.center_image
                =image_tag "img_lich/lich_bloc.jpg"
              %h1
                =i.name
              %h6
                =i.description
                %span{:style => "color: rgb(21, 28, 35); -webkit-border-horizontal-spacing: 10px;"}
              .more_nav
                %a{:href =>"#{calendars_path(:category_id =>i.id)}"}  chi tiết >>  
            %br/
          / .art-layout-cell.layout-item-3.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path(:category_id =>2)}'"}
          /   %div.center_image
          /     =image_tag "img_lich/lich_bloc.jpg"
          /   %h1 Lịch Bloc
          /   %h6
          /     Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
          /   .more_nav
          /     %a{:href =>"#{calendars_path(:category_id =>2)}"}  chi tiết >>  
          /   %br/
          / .art-layout-cell.layout-item-4.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path(:category_id =>3)}'"}
          /   %div.center_image
          /     =image_tag "img_lich/lich_bloc.jpg"
          /   %h1 Lịch để bàn
          /   %h6
          /     Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
          /   .more_nav
          /     %a{:href =>"#{calendars_path(:category_id =>3)}"}  chi tiết >>  
          /   %br/
          / .art-layout-cell.layout-item-5.div-a{:style => "width: 25%",:onclick =>"window.location='#{calendars_path(:category_id =>4)}'"}
          /   %div.center_image
          /     =image_tag "img_lich/lich_bloc.jpg"
          /   %h1 Lịch lò xo
          /   %h6
          /     Đáp ứng tất cả các yêu cầu liên quan đến thiết kế, in ấn lịch tết với đa dạng các mẫu thiết kế, hình ảnh độc đáo, độc quyền với mức giá cạnh tranh so với thị trường.
          /   .more_nav
          /     %a{:href =>"#{calendars_path(:category_id =>4)}"}  chi tiết >>  
          /  %br/
    .art-content-layout-wrapper.layout-item-6
      .art-content-layout.layout-item-7
        .art-content-layout-row
          
          / .art-layout-cell.layout-item-8{:style => "width: 25%"}
          /   %h2
          /     Turkey
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %br/
          /   %p{:style => "margin-top: 0px;"}
          /     %span{:style => "color: rgb(125, 125, 125);"} Flickr/©haddock
          /     %br/
          /   %p
          /     %img{:alt => "", :height => "132", :src => "images/8.png", :style => "margin-top: 0px; margin-bottom: 7px; margin-left: 0px;", :width => "189"}
          /       %br
          /         %span{:style => "color: rgb(21, 28, 35); font-weight: bold; line-height: 15px;"} Lorem ipsum dolor amet.&nbsp;
          /         %br/
          /   %h5
          /     Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Aenean sollicitudin arcu, vitae posuere.
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /   %p{:style => "text-align: left;"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %a.art-button{:href => "#"} Read more
          / .art-layout-cell.layout-item-8{:style => "width: 25%"}
          /   %h2 Hawaii
          /   %h5{:style => "margin-top: 0px;"} Flickr/ryankozie
          /   %p
          /     %span{:style => "color: rgb(125, 125, 125);"}
          /       %img{:alt => "", :height => "132", :src => "images/9.png", :style => "margin-top: 0px; margin-left: 0px;", :width => "189"}
          /         %span{:style => "color: rgb(21, 28, 35); font-weight: bold; line-height: 15px;"} Etiam pharetra, tellus iaculis.&nbsp;
          /   %h5
          /     Vitae feugiat sapien ante eget mauris. Aenean sollicitudin imper arcu, vitae dignissim est posuere id. Nunc a sollicitudin est. Curabitur ullamcorper gravida.
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /   %p{:style => "text-align: left;"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %a.art-button{:href => "#"} Read more
          / .art-layout-cell.layout-item-8{:style => "width: 25%"}
          /   %h2
          /     Barcelona
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %br/
          /   %h5{:style => "margin-top: 0px;"} Flickr/Sids1
          /   %p
          /     %span{:style => "color: rgb(125, 125, 125);"}
          /       %img{:alt => "", :height => "132", :src => "images/10.png", :style => "margin-top: 0px; margin-left: 0px;", :width => "189"}
          /         %span{:style => "color: rgb(21, 28, 35); font-weight: bold; line-height: 15px;"} Nisi erat iaculis nibh mauris.&nbsp;
          /   %h5
          /     Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id. Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /   %p{:style => "text-align: left;"}
          /     %span{:style => "color: rgb(21, 28, 35);"}
          /       %a.art-button{:href => "#"} Read more
          .art-layout-cell.layout-item-8.slide_thuy.border-lightgray{:style => "width: 75%"}
            = render :partial =>"shared/intro", :locals =>{:intro => @home_intro}
          .art-layout-cell.layout-item-9{:style => "width: 25%"}
            %h2
              %span{:style => ""} LỊCH THEO CHỦ ĐỀ
            %ul
              %li Thiên nhiên tươi đẹp
              %li
                Sắc xuân
                %span{:style => "color: rgb(31, 40, 51); font-size: 13px; line-height: 19px; -webkit-text-decorations-in-effect: none;"}
              %li Quê hương thanh bình
              %li Một thoáng Việt Nam
              %li Phong cảnh thế giới
              %li
                Biệt thự & xe hơi
                %span{:style => "font-size: 13px; line-height: 19px;"}
                  %br/
              %li Phúc Lộc Thọ
              %li Mã đáo thành công
              
            %p.support
              %h2
                %span HỖ TRỢ TRỰC TUYẾN
              %script{:src => "http://www.skypeassets.com/i/scom/js/skype-uri.js", :type => "text/javascript"}
              %div{:style =>"text-align:center"}
                %a{:href => "ymsgr:sendim?lecaothuy1988"}
                  %img{:alt => "Hỗ trợ trực tuyến", :border => "0", :src => "#{'/assets/online.gif'}"}
                %a{:href => "ymsgr:sendim?kalickvn"}
                  %img{:alt => "Hỗ trợ trực tuyến", :border => "0", :src => "#{'/assets/online.gif'}"}
                %a{:href => "skype:thuycao9?chat"}
                  %img#skype_11{:alt => "Hỗ trợ trực tuyến", :src => "#{'/assets/skype.png'}", :title => "Hỗ trợ trực tuyến"}/
            %p
              %h2
                %span{} LƯỢT XEM
              %a{:href => "http://www.easycounter.com/",:style=>"width:100%;text-align:center"}
                %div
                  %img{:alt => "HTML Counter", :border => "0", :src => "http://www.easycounter.com/counter.php?kalickvn"}/
            %p
              -ad = Advertising.all
              -unless ad.blank?
                %h2
                  %span QUẢNG CÁO
                %div.qc-img
                  -ad.each do |i|
                    -if !i.image.blank?
                      %a{:href => "#{i.link}"}
                        =image_tag i.image.url(:original),:alt =>"QUẢNG CÁO"
:javascript
  $(document).ready(function(){
    $(".trang-chu").addClass("active");
  })
  

   