!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "UTF-8"}/
    %title= t(:project_name)
    = analytics_init
    / include style css
    = stylesheet_link_tag "application"
    = csrf_meta_tag
    / include js file
    = javascript_include_tag "application"
    /[if lt IE 9] <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    =stylesheet_link_tag "style.css",:media =>"screen"
    /[if lte IE 7] <link rel="stylesheet" href="style.ie7.css" media="screen" />
    =stylesheet_link_tag "style.responsive.css",:media =>"all"
    =stylesheet_link_tag "inline_home.css"
    =stylesheet_link_tag "custom_template.css"
    =stylesheet_link_tag "font-awesome.min.css"
  %body
    #art-main
      %header.art-header
        
        .art-shapes
        %nav.art-nav
          %ul.art-hmenu
            %li
              %a.active{:href => "#{root_path}"} TRANG CHỦ
            %li
              %a{:href => "#{introduction_home_index_path}"} GIỚI THIỆU
            %li
              %a{:href => "#"} LỊCH THIẾT KẾ CATALOGUE
            %li
              %a{:href => "#"} LỊCH THIẾT KẾ ĐỘC QUYỀN
            %li
              %a{:href => "#"} BẢNG GIÁ
            %li
              %a{:href => "#{contact_calendars_path}"} LIÊN HỆ
      -banner = Banner.first
      -if !banner.blank?
        .banner_header
          =image_tag banner.image.url
      -else
        .banner_header
          %img{:src=>"/assets/template/Banner2.jpg"}
      .art-sheet.clearfix
        .art-layout-wrapper
          .art-content-layout
            .art-content-layout-row
              .art-layout-cell.art-content
                %div{:style=>"height:5px"}
                .art-layout-cell.art-content
                  %article.art-post.art-article
                    .art-postcontent.art-postcontent-0.clearfix{:style=>"background-color: white;border-radius: 12px;padding: 21px;"}
                      .art-content-layout.layout-item-0
                        .art-content-layout-row
                          .art-layout-cell.layout-item-1{:style => "width: 100%"}
                            .left_content
                              .small-menu
                                .header-text
                                  ="TÍNH NĂNG"
                                .normal-menu  
                                  .menu-txt
                                    %a{:href =>"/categories"} Quản lý Loại lịch
                                  .menu-txt
                                    %a{:href =>"/calendars/admin"} Quản lý danh sách sản phẩm
                                  .menu-txt
                                    %a{:href =>"#{organization_users_path(1)}"} Quản lý người dùng
                                  .menu-txt
                                    %a{:href =>"#{edit_setting_path(1)}"} Cấu hình hệ thống 
                                  .menu-txt
                                    %a{:href =>"#{edit_banner_path(1)}"} Quản lý banner 
                                  .menu-txt
                                    %a{:href =>"#{advertisings_path}"} Quản lý quảng cáo
                                  .menu-txt
                                    = link_to "Đăng xuất", destroy_user_session_path, :method =>'delete'
                            .right_content
                              
                              =yield
                            .clear-fix{:style =>"clear:both"}
        %footer.art-footer
          .art-content-layout
            .art-content-layout-row
              .art-layout-cell{:style => "width: 77%"}
                %p
                  %a{:href => "#"}> Trang Chủ 
                  \&nbsp;&nbsp; | &nbsp;&nbsp;
                  %a{:href => "#"}> Lịch tết
                  \&nbsp;&nbsp; | &nbsp;&nbsp;
                  %a{:href => "#"}> Lịch bloc
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"}> Lịch tự chọn
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"}> Liên hệ
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"}> Chi nhánh
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"} Chính sách
                %p Lich © 2013. All Rights Reserved.
              .art-layout-cell.layout-item-0{:style => "width: 23%"}
                %p
                  \&nbsp;
                  %a.art-facebook-tag-icon{:href => "", :style => "line-height: 32px;"}>
                  \&nbsp; &nbsp;
                  %a.art-twitter-tag-icon{:href => "", :style => "line-height: 32px;"}>
                  \&nbsp; &nbsp;
                  %a.art-rss-tag-icon{:href => "", :style => "line-height: 34px;"}>
                  \&nbsp;
                  %br/
:javascript
  var g_token = '#{form_authenticity_token}';