!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "UTF-8"}/
    %title= t(:project_name)
    = analytics_init
    / include style css
    = stylesheet_link_tag "application"
    = csrf_meta_tag
    / include js file
    = javascript_include_tag "application"
    /[if lt IE 9] <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    =stylesheet_link_tag "style.css",:media =>"screen"
    /[if lte IE 7] <link rel="stylesheet" href="style.ie7.css" media="screen" />
    =stylesheet_link_tag "style.responsive.css",:media =>"all"
    =stylesheet_link_tag "inline_home.css"
    =stylesheet_link_tag "custom_template.css"
    =stylesheet_link_tag "font-awesome.min.css"
  %body
    #art-main
      %header.art-header
        
        .art-shapes
        / %h1.art-headline{"data-left" => "10.58%"}
        /   %a{:href => "#"} CTY IN ẤN LỊCH
        %nav.art-nav
          %ul.art-hmenu
            %li
              %a.trang-chu{:href => "#{root_path}"} TRANG CHỦ
            %li
              %a.gioi-thieu{:href => "#{introduction_home_index_path}"} GIỚI THIỆU
            %li
              %a.tk-catalog{:href => "#{calendars_path(:tag_type => 1)}"} LỊCH THIẾT KẾ CATALOGUE
            %li
              %a.tk-docquyen{:href => "#{calendars_path(:tag_type =>2)}"} LỊCH THIẾT KẾ ĐỘC QUYỀN
            %li
              %a.bang-gia{:href => "#{pricing_page_home_index_path}"} BẢNG GIÁ
            %li
              %a.lien-he{:href => "#{contact_calendars_path}"} LIÊN HỆ
      .banner_header
      .text-over
        .l-text
          &nbsp;
        %div.marquee-text{:style =>"float:left"}
          - @text_setting = Setting.where(:code => Setting::CODE_ATTR[:PROMOTE_NEWS].to_s).first
          %marquee{:behavior => "scroll", :direction => "left", :onmouseover => "this.stop();", :onmouseleave => "this.start();"}
            = @text_setting ? @text_setting.value.to_s : " "
        .l-right
          &nbsp;
        .clearfix
      .art-sheet.clearfix
        .art-layout-wrapper
          .art-content-layout
            .art-content-layout-row
              .art-layout-cell.art-content
                =yield
        %footer.art-footer
          .art-content-layout
            .art-content-layout-row
              .art-layout-cell{:style => "width: 77%"}
                %p
                  %a{:href => "#{root_path}"}> Trang Chủ 
                  \&nbsp;&nbsp; | &nbsp;&nbsp;
                  %a{:href => "#"}> Lịch tết
                  \&nbsp;&nbsp; | &nbsp;&nbsp;
                  %a{:href => "#"}> Lịch bloc
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"}> Lịch tự chọn
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"}> Liên hệ
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"}> Chi nhánh
                  \&nbsp; &nbsp;| &nbsp;&nbsp;
                  %a{:href => "#"} Chính sách
                %p
                  %div{:style=>"margin-top: 14px;"}
                    CÔNG TY TNHH TÂN PHƯƠNG
                    %br
                    Địa Chỉ: 27A Nguyễn Văn Nguyễn, P. Tân Định, Q. 1, Tp.HCM
                    %br
                    Điện thoại: 08.7300.1997 - Fax 08.7300 1996
                    %br
                    Phone: 0122 3883 048 - 090 37 39 448
                    %br
                    Email: thienhoa09@yahoo.com
                %p Lich © 2013. All Rights Reserved.
              .art-layout-cell.layout-item-0{:style => "width: 23%"}
                %p
                  \&nbsp;
                  %a.art-facebook-tag-icon{:href => "", :style => "line-height: 32px;"}>
                  \&nbsp; &nbsp;
                  %a.art-twitter-tag-icon{:href => "", :style => "line-height: 32px;"}>
                  \&nbsp; &nbsp;
                  %a.art-rss-tag-icon{:href => "", :style => "line-height: 34px;"}>
                  \&nbsp;
                  %br/

:javascript
  var g_token = '#{form_authenticity_token}';